<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702205713422-91giara9eil76ktqsck0hl41f2pl1ucb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702205713422-91giara9eil76ktqsck0hl41f2pl1ucb</string>
	<key>API_KEY</key>
	<string>AIzaSyASXXq0LvPZovieSJ9uuIZVOlYvWaF6SHE</string>
	<key>GCM_SENDER_ID</key>
	<string>702205713422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chairific.chairificapp</string>
	<key>PROJECT_ID</key>
	<string>tetsprojnew</string>
	<key>STORAGE_BUCKET</key>
	<string>tetsprojnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702205713422:ios:9c482c8bebebffdd37b05f</string>
</dict>
</plist>